$defaultColor: #31353A;
$title   : #31353A;
$subTitle: #979BA0;
$c1      : #1B77FC;
$c2      :#0D73FF;

$op-color-primary   : #16436e;
$op-color-success   : #09bb07;
$op-color-warning   : #ff9328;
$op-color-danger    : #ff5a5a;
$op-color-subsidiary: #2879c7;

// font size
$superBigFs: 36px;
$bigFs     : 30px;
$mediumFs  : 22px;
$normalFs  : 18px;
$smallFs   : 16px;

@font-face {
  font-family: 'BEBAS';
  src        : url('~@/static/moneyFont/BEBAS___.ttf');
  font-weight: normal;
  font-style : normal;
}
.moneyFont {
  font-family: "BEBAS";
}

@font-face {
  font-family: 'digital';
  src        : url('~@/static/moneyFont/digital display tfb.ttf');
  font-weight: normal;
  font-style : normal;
}
.digital {
  font-family: "digital";
}

@mixin page-margin {
  margin: 20px;
}

@mixin form-margin {
  margin-bottom: 24px;
}

@mixin page-header {
  display        : flex;
  align-items    : center;
  justify-content: space-between;

  .title {
    position    : relative;
    padding-left: 8px;
    font-size   : $normalFs;
    color       : $title;
    font-weight : bold;

    &::after {
      content         : "";
      position        : absolute;
      left            : 0;
      top             : 0;
      width           : 3px;
      height          : 100%;
      // border-radius: 3px;
      background-color: $title;
    }
  }
}

@mixin page-wrap {
  margin          : 20px;
  padding         : 20px;
  background-color: #fff;
  border-radius   : 8px;
}

@mixin page-search-wrap {
  display    : flex;
  align-items: center;
  flex-wrap  : wrap;

  .serch-item {
    margin: 0 40px 15px 0;

    >label {
      margin-right: 10px;
      color       : $title;
    }
  }
}

@mixin page-content {
  // margin       : 12px 0;
  // padding: 24px;
  background   : rgba(255, 255, 255, 1);
  box-shadow   : 0px 0px 12px 0px rgba(248, 202, 202, 0.15);
  border-radius: 8px;

  .searchKey {
    &>div {
      display    : flex;
      align-items: baseline;
    }

    &>div+div {
      margin-top: 36px;
    }

    label {
      flex     : 0 0 100px;
      font-size: 14px;
      color    : #333333;
    }

    .searchData {
      margin-left: 30px;
    }
  }
}

.successColor {
  color: $op-color-success;
}

.grayColor {
  color: #C2C5C8
}

.yellowColor {
  color: #FABB32
}

.redColor {
  color: #FF6933
}

.BlueColor {
  color: #1B77FC
}