@keyframes moveInner {
  from {
    width: 4px;
    height: 4px;
  }

  to {
    width: 8px;
    height: 8px;
  }
}

@keyframes moveMiddle {
  from {
    width: 8px;
    height: 8px;
  }

  to {
    width: 24px;
    height: 24px;
  }
}

@keyframes moveBiggest {
  from {
    width: 8px;
    height: 8px;
  }

  to {
    width: 40px;
    height: 40px;
  }
}

.waves-style {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  .waves {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(0, 211, 233, 0.1);
    animation: moveBiggest 1s infinite;
    &::before {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      content: '';
      width: 24px;
      height: 24px;
      border-radius: 12px;
      background-color: rgba(0, 211, 233, 0.2);
      animation: moveMiddle 1s infinite;
    }
    &::after {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 5px;
      background-color: #00D3E9;
      animation: moveInner 1s infinite;
    }
  }
}